SECRET_KEY=change-this-to-a-random-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Leave as sqlite for quick start. Switch to postgres for production.
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

SITE_NAME=Muhammad Nouman Library
CURRENCY=PKR
